<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="{% block metakeywords %}{#TODO - KEYWORDS#}{% trans %}getrealtec website builder php it javascript css bootstrap technology developer scrum master consulting host wordpress business company{% endtrans %}{% endblock %}">
        {#    META DESCRIPTION - SHOULD BE AROUND 150 - 175 CHARACTERS    #}
        <meta name="description" content="{% block metadescription %}{#TODO - DESCRIPTION#}{% trans %}GetRealTec, your business partner dedicated to offer you the best technology for your needs. We offer services, web and mobile development, agile and scrum consulting and coaching.{% endtrans %}{% endblock %}">
        <meta name="author" content="GetRealTec inc.">

        {% block fbmetatags %}
{#            {% embed 'fb-meta-tags.html.twig' %}#}
{#            {% endembed %}#}
        {% endblock %}

        {# USE ROBOTS TO PREVENT SEARCH ENGINES TO INDEX OR FOLLOW LINKS ON THE PAGE #}
        {#    DEFAULT - <meta name="robots" content="index, follow" />    #}
        {#    <meta name="robots" content="index, follow" />    #}

        {% block canonicaltag %}
            {#<link rel="canonical" href="http://example.com/" />#}
            {#    USE IF THE PAGE IS MOSTLY A DUPLICATED CONTENT. USE TO AVOID DUPLICATED CONTENT PENALTY    #}
        {% endblock %}

        <title>{{ site }} - {% block metatitle %}{% trans %}Real technology at the tip of your fingers{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel='stylesheet' id='css-font-awesome'  href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' type='text/css' media='all' />
            <link rel='stylesheet' id='css-bootstrap'  href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' type='text/css' media='all' />
            <link rel="stylesheet" id="css-magnifique-popup"  href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" type="text/css" media="all" />
            <link rel='stylesheet' id='cookie-policy-css'  href='{{ asset('css/cookie-consent.css') }}' type='text/css' media='all' />
            <link rel="stylesheet" id="css-base"  href="{{ asset('css/base.css') }}" type="text/css" media="all" />
        {% endblock %}
    </head>
    <body class="top">
        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}

        <div id="main">
            {% block main %}
                {% block header %}
                    {% include 'hero-header.html.twig' %}
                {% endblock %}

                {% block body %}
                {% endblock %}

                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/base.js') }}"></script>
        {% endblock %}

        {% include 'legal/bs-cookie-consent.html.twig' %}
    </body>
</html>
