<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}">{{ site }}</a>
        <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-lg-none">
                    <a class="nav-link js-scroll-trigger close-menu" href="javascript:void(0)">
                        <i class="far fa-times-circle"></i><span>{% trans %}Close Menu{% endtrans %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('services') }}">{% trans %}Services{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('products') }}">{% trans %}Products{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('about-us') }}">{% trans %}About{% endtrans %}</a>
                </li>
                {% include 'languages/bs-navbar-switcher.html.twig' %}
            </ul>
        </div>
    </div>
</nav>
